<?xml version="1.0" encoding="utf-8"?>

<!-- Description of the "Rings Extended" application.  If copying this
     application, be sure to change the package to a domain you own! -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.rings_extended">
    <application android:icon="@drawable/icon" android:label="@string/appName">
    
        <!-- The main entry to our application: allows the user to select
             a ringtone, and returns it to the caller. -->
        <activity android:name=".RingsExtended">
            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <!-- An addition feature: we include our own music picker, since the
             current system doesn't come with one. -->
        <activity android:name=".MusicPicker" android:label="@string/musicPickerName">
            <!-- First way to invoke us: someone asks to get content of
                 any of the audio types we support. -->
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
            </intent-filter>
            <!-- Second way to invoke us: someone asks to pick an item from
                 some media Uri. -->
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="vnd.android.cursor.dir/audio"/>
            </intent-filter>
        </activity>
    </application>
</manifest> 
